@{
    ViewData["Title"] = "Lista de tipo prestamo";
}

<div class="container-xl">
    <h1 class="mt-5">Lista Tipo Prestamos</h1>

    <div class="text-md-end mb-4">
        <a asp-area="Admin" asp-controller="TipoPrestamos" asp-action="Crear" class="btn btn-success bg-gradient"> <i class="bi bi-plus-circle"></i> Nuevo Tipo Prestamo</a>
    </div>

    <div class="table-responsive shadow p-3">
        <table id="tblDatos" class="table table-striped table-hover w-100">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tasa Interes</th>
                    <th>Plazo Maximo</th>
                    <th>Monto Maximo</th>
                    <th>Porcentaje Refinanciar</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/tipoPrestamo.js"></script>
}

