@model PrestamoVM

@{
    ViewData["Title"] = "Crear Prestamo";
}

<div class="container-xl">
    <div class="row justify-content-center my-5">
        <div class="col-8">
            <div class="card">
                <div class="card-header bg-success bg-gradient text-white p-4">
                    <h3 class="text-center">Crear Prestamo</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="form-floating mb-3">
                            <select class="form-select" asp-for="Prestamo.ClienteId" asp-items="@Model.ListaCliente">
                                <option disabled selected>Seleccione</option>
                            </select>
                            <label asp-for="Prestamo.Cliente.Nombre"></label>
                            <span asp-validation-for="Prestamo.Cliente.Id" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" asp-for="Prestamo.TipoPrestamoId" asp-items="@Model.ListaTipoPrestamo">
                                <option disabled selected>Seleccione</option>
                            </select>
                            <label asp-for="Prestamo.TipoPrestamo.Nombre"></label>
                            <span asp-validation-for="Prestamo.TipoPrestamo.Id" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Prestamo.MontoPrestado" type="number" class="form-control" placeholder="Monto Prestado">
                            <label asp-for="Prestamo.MontoPrestado"></label>
                            <span asp-validation-for="Prestamo.MontoPrestado" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Prestamo.PlazoEnMeses" type="number" class="form-control" placeholder="Plazo Meses">
                            <label asp-for="Prestamo.PlazoEnMeses"></label>
                            <span asp-validation-for="Prestamo.PlazoEnMeses" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Prestamo.InteresCompuesto" type="number" class="form-control" placeholder="Interes Compuesto">
                            <label asp-for="Prestamo.InteresCompuesto"></label>
                            <span asp-validation-for="Prestamo.InteresCompuesto" class="text-danger"></span>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <button class="btn btn-success w-100"> <i class="bi bi-plus-circle"></i> Guardar</button>
                            </div>
                            <div class="col-6">
                                <a asp-action="Index" class="btn btn-secondary w-100"> <i class="bi bi-arrow-left-circle"></i> Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}

