
@{
    ViewData["Title"] = "Lista de clientes";
}

<div class="container-xl">
    <h1 class="mt-5">Lista de Clientes</h1>

    <div class="text-md-end mb-4">
        <a asp-area="Admin" asp-controller="Clientes" asp-action="Crear" class="btn btn-success bg-gradient"> <i class="bi bi-plus-circle"></i> Nuevo Cliente</a>
    </div>

    <div class="table-responsive shadow p-3">
        <table id="tblDatos" class="table table-striped table-hover w-100">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th>Cedula</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/cliente.js"></script>
}

